<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <%= f.hidden_field :avatar %>

  <a href="#" data-toggle="tooltip" title="Click to change your avatar." data-toggle="modal" data-target="#avatar-picker-modal" class="darken edit-avatar-tooltip">
    <%= image_tag resource.avatar, class: "avatar avatar-medium" %>
  </a>


  <div>
    <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "sessions_form_field" %></div>

  <div>
  <%= f.email_field :email, placeholder: "Email Address", class: "sessions_form_field" %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div>
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter Current Password to Make Any Change", class: "sessions_form_field" %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Enter New Password (only if you want to change it)", class: "sessions_form_field" %></div>

  <div>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm New Password (only if you want to change it)", class: "sessions_form_field" %></div>


  <div><%= f.submit "Update User Information", class: "sessions_submit_button btn btn-info" %></div>

<% end %>

<div class="modal hide fade" id="avatar-picker-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Pick an Avatar</h3>
  </div>

  <div class="modal-body">
    <% UserAvatar.all.each do |url| %>
      <a class="avatar-wrapper" href="javascript:void(0);">
        <%= image_tag url, class: "avatar avatar-small" %>
      </a>
    <% end %>
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
  $(".edit-avatar-tooltip").tooltip({ placement: 'right', trigger: 'hover' })
  $(".edit-avatar-tooltip").click(function(){
    event.preventDefault();
    event.stopPropagation();
    $(".edit-avatar-tooltip").tooltip('hide');
    $("#avatar-picker-modal").modal()
  })
  new window.AvatarPicker($("#avatar-picker-modal"), $("#user_avatar"), $(".avatar-medium"))
</script>
