<%= form_for song do |f| %>
  <%= f.label "Song name: "  %>
  <%= f.text_field :name %>

  <%= f.label "Lyrics: " %>
  <%= f.text_area :lyrics %>

  <%= f.label "In the key of: " %>
  <%= f.select :key, Song::KEYS %>

  <div>
  	<%= f.submit "Save Song", class: "btn btn-info btn-large", id: "save-song-action" %>
  </div>
<% end %>