<% content_for :container_class do  %>
    table-container
<% end %>

<h3 id="songs-index-header">Songs</h3>

<%= text_field_tag "search-songs", nil, placeholder: "Search (song names only)"%> 

<table class="table table-striped table-hover table-responsive table-bordered">
  <tr>
    <th>Song Name</th>
    <th>Lyrics</th>
    <th>Key</th>
    <th>Last Done On</th>
    <th>Actions</th>
  </tr>

  <% @songs.each do |song| %>
  <tr class="song">
    <td><%= link_to song.name, song_path(song), class: "song-name" %></td>
    <td><%= simple_format(truncate(song.lyrics, length: 100, separator: "\n")) %></td>
    <td><%= song.key %></td>
    <td><%= song.last_done_on %></td>
    <td><%= link_to "Edit", edit_song_path(song), class: "btn" %></td>
  </tr>
  <% end %>
</table>

<script type="text/javascript">
  var songs = jQuery.map($(".song"), function(element) {
    return new window.WorshipTeamCenter.Song(element);
  });

  new window.WorshipTeamCenter.SongSearch(songs);
</script>