<h1><%= @song.name_with_key %></h1>

<%= link_to "Edit", edit_song_path(@song), class: "btn btn-info" %>
<%= link_to "Delete", song_path(@song), method: :delete, class: "btn btn-warning", confirm: "Are you sure you want to delete #{@song.name}?" %>
<%= link_to "Generate PPT", presentations_path(song_id: @song.id), method: :post, class: "btn btn-info" %>

<%= link_to @song.youtube_url, method: :post, class: "btn btn-danger"  do %>
  <%= fa_icon "youtube-play" %>
  YouTube
<% end %>

<p><%= simple_format @song.lyrics %></p>



<% if @song.song_lists.present? %>
	<h3><%= @song.name %> was last done on:<h3>

	<ul class="song-done-on">
	<% @song.song_lists.not_deleted.order("done_on DESC").each do |song_list| %>
		<li class="song-done-on-item">
		  <%= link_to "#{l(song_list.done_on, format: :long)} (#{song_list.service} Service)", song_list_path(song_list) %>
		</li>
	<% end %>
	</ul>
<% end %>
