<%= form_for song_list do |f| %>    
    <%= f.label "This worship set was done on: " %>
    <%= f.text_field :done_on %>

    <%= f.label "Theme: " %>
    <%= f.text_field :theme %>

    <%= f.label "Service: " %>
    <%= f.select :service, SongList::SERVICES %>

    <% if song_list.song_list_items.present? %>
        <h3>Songs in this Set</h3>
    <% else %>
        <h3>Add Songs to this Set</h3>
    <% end %>
    

    <ul id='song-list'>
    <%= f.fields_for :song_list_items do |songs_form| %>
        <li class="song_list_item" data-song-id="<%= songs_form.object.song.id %>">
            <%= songs_form.label "#{songs_form.object.song.name}", class: "song-label" %>
            <%= songs_form.hidden_field :song_id %>
            <%= link_to "Remove", "javascript:void(0);", class: "remove-song-action", data: { song_id: songs_form.object.song.id, song_name: songs_form.object.song.name } %>
        </li>
    <% end %>
    </ul>

    <%= select_tag "songs", options_from_collection_for_select((@song_list.songs_not_in_list), :id, :name), id: "add-new-song-select" %>
    <%= link_to "Add This Song", "javascript:void(0);", class: "btn btn-success", id: "add-new-song-action" %>

    <div>
        <%= f.submit "Save Worship Set", class: "btn btn-info btn-large", id: 'create-song-list-action' %>
    </div>
<% end %>