<%= form_for @song_list do |f| %>
    <%= f.submit %>
    <%= f.label "This song list was done on: " %>
    <%= f.text_field :done_on %>

    <%= f.label "Theme: " %>
    <%= f.text_field :theme %>

    <% if @song_list.song_list_items.present? %>
        <%= f.label "Songs in this list: " %>
    <% end %>
    <ul id='song-list'>
    <%= f.fields_for :song_list_items do |songs_form| %>
        <li class="song_list_item" data-song-id="<%= songs_form.object.song.id %>">
            <%= songs_form.label "#{songs_form.object.song.name}", class: "song-label" %>
            <%= songs_form.hidden_field :song_id %>
            <%= link_to "Remove", "javascript:void(0);", class: "remove-song-action", data: { song_id: songs_form.object.song.id, song_name: songs_form.object.song.name } %>
        </li>
    <% end %>
    </ul>

<% end %>

<h2>Add songs to this list</h2>
<%= select_tag "songs", options_from_collection_for_select((@song_list.songs_not_in_list), :id, :name), id: "add-new-song-select" %>
<%= link_to "Add This Song", "javascript:void(0);", class: "btn", id: "add-new-song-action" %>

<script type="text/javascript">
    var songList = new window.WorshipTeamCenter.SongList();
    $("#add-new-song-action").click(songList.add_new_song);
    $(".remove-song-action").click(songList.remove_song);
    $("#song_list_done_on").datepicker({ format: "yyyy-mm-dd"});
</script>