<% content_for :container_class do  %>
    table-container
<% end %>

<% if @song_lists.empty? %>
  <h1>You haven't added any song lists yet. <%= link_to "Create a Song List", new_song_list_path %></h1>
<% else %>
	<table class="table table-striped table-hover table-bordered table-responsive">
		<tr>
			<th>Song Lists</th>
			<th>Done On</th>
			<th>Theme</th>
			<th>Services</th>
			<th>Actions</th>
		</tr>
    <% @song_lists.each do |song_list| %>
    	<tr>
    		<td>
    			<ul>
    				<% song_list.songs.each do |song| %>
    					<li>
    					 	<%= link_to song.name, song_path(song) %>
    					</li>
    				<% end %>
    			</ul>
    		</td>
        	<td><%= l(song_list.done_on, format: :long) %></td>
        	<td><%= song_list.theme %></td>
        	<td><%= song_list.service %></td>
        	<td>
            <%= link_to "Edit", edit_song_list_path(song_list), class: "btn" %>
            <%= link_to "Delete", song_list_path(song_list),  method: :delete, class: "btn btn-warning delete-song-list-button", confirm: "Are you sure you want to delete this song list?" %>
            </td>
        </tr>
    <% end %>
    </table>
<% end %>