<%= form_for @song_list do |f| %>
  <%= f.label "This song list was done on: " %>
  <%= f.text_field :done_on %>

  <% if @song_list.song_list_items.present? %>
      <%= f.label "Songs in this list: " %>
  <% end %>
  <%= f.fields_for :song_list_items do |songs_form| %>
    <%= songs_form.label "Song Name: #{songs_form.object.song.name}" %>
    <%= songs_form.hidden_field :song_id %>
    <%= link_to "Remove", "javascript:void(0);", class: "remove-song-action", data: { song_id: songs_form.object.song.id, song_name: songs_form.object.song.name } %>
  <% end %>

  <%= f.submit %>
<% end %>

<h2>Add songs to this list</h2>
<%= select_tag "Foo", options_from_collection_for_select(Song.all, :id, :name), id: "add-new-song-select" %>
<%= link_to "Add This Song", "javascript:void(0);", class: "btn", id: "add-new-song-action" %>

<script type="text/javascript">
    var songList = new window.WorshipTeamCenter.SongList();
    $("#add-new-song-action").click(songList.add_new_song);
    $(".remove-song-action").click(songList.remove_song);
    $("#song_list_done_on").datepicker({ format: "yyyy-mm-dd"});
</script>