<h2>This song list was done on <%= @song_list.done_on %></h2>
<%= link_to "Edit", edit_song_list_path(@song_list), class: "btn" %>

<h4>Theme: <%= @song_list.theme %></h4>
<h4>Service: <%= @song_list.service %></h4>

<%= render partial: "songs_in_list", locals: { song_list: @song_list } %>