<h2 class="sessions_header">Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
  <%= f.email_field :email, autofocus: true, placeholder: "Email Address", class: "sessions_form_field" %></div>

  <div>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "sessions_form_field" %></div>

  <% if devise_mapping.rememberable? -%>
    <div class="sessions_remember_me"><%= f.check_box :remember_me %> <%= f.label :remember_me, class: "sessions_form_label" %></div>
  <% end -%>

  <div><%= f.submit "Sign in", class: "sessions_submit_button btn btn-info" %></div>
<% end %>

